/* General Layout */
.home-container {
    min-height: 100vh;
    background-color: #f8f9fa;
}

.custom-heading {
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-style: italic;
    color: #555;
}

.highlight {
    font-weight: bold;
    font-size: 55px;
    color: #84e407;
}

/* Home Intro Section with Blurred Background Image */
.home-intro {
    position: relative;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://via.placeholder.com/1500x400?text=Background+Image') no-repeat center center/cover;
    background-size: cover;
    filter: blur(5px);
    transition: opacity 1ms ease-in-out;
    z-index: 1;
}

.text-content {
    position: relative;
    z-index: 2;
    color: white;
}

/* Skills Section */
.home-skills {
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px 0;
}

.home-skills h3,
.home-skills p {
    color: #343a40;
}

/* Call to Action Section */
.home-cta {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.home-cta h2,
.home-cta button {
    margin-bottom: 20px;
}

/* Typing Effect Styles */
.typing-effect {
    font-size: 1.5rem;
    font-family: 'Courier New', monospace;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* Projects Section */
.home-projects {
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px 0;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Testimonials Section */
.home-testimonials {
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px 0;
}

.home-testimonials blockquote,
.home-testimonials footer {
    color: #555;
}

/* Animation Keyframes */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: black;
    }
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {

    .home-intro p,
    .home-skills h3,
    .home-cta h2 {
        font-size: 0.7rem;
    }
}

@media (max-width: 576px) {

    .home-intro p,
    .home-skills p,
    .home-testimonials blockquote,
    .home-testimonials footer {
        font-size: 0.6rem;
    }
}

.animated-button {
    padding: 15px 30px;
    font-size: 16px;
    background-color: #f44336;
    border-radius: 5px;
    animation: pulse 1.5s infinite;
}

.animated-button:hover {
    background-color: #ffffff;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
        box-shadow: 0 0 5px rgb(244, 67, 54);
    }

    50% {
        transform: scale(1.1);
        box-shadow: 0 0 20px rgb(244, 67, 54);
    }
}